backup/
*.txt
#
# whole bunch of images, to comment in and out as necessary
# commented ARE available, not commented are NOT
#
# bckg.png
# bckgd.png
# bckgl.png
# toad.png
# imgmesh/printscreen.png
# imgmesh/320/img2mesh.png
# imgmesh/640/img2mesh.png
# imgzaika/320/b4zaikar.png
# imgzaika/320/b4zaikas.png
# imgzaika/320/blob-s3zaika.png
# imgzaika/320/blob-s4zaika.png
# imgzaika/320/c3zaika.png
# imgzaika/320/linen.png
# imgzaika/320/p3zaika.png
# imgzaika/320/p6zaika.png
# imgzaika/320/s3zaika.png
# imgzaika/320/s4zaika.png
# imgzaika/320/stitch.png
# imgzaika/320/superzaika.png
# imgzaika/640/b4zaikar.png
imgzaika/640/b4zaikas.png
# imgzaika/640/blob-s3zaika.png
imgzaika/640/blob-s4zaika.png
imgzaika/640/c3zaika.png
# imgzaika/640/linen.png
imgzaika/640/p3zaika.png
# imgzaika/640/p6zaika.png
# imgzaika/640/s3zaika.png
imgzaika/640/s4zaika.png
# imgzaika/640/stitch.png
imgzaika/640/superzaika.png
imgzaika/800/b4zaikar.png
imgzaika/800/b4zaikas.png
imgzaika/800/blob-s3zaika.png
imgzaika/800/blob-s4zaika.png
imgzaika/800/c3zaika.png
imgzaika/800/linen.png
imgzaika/800/p3zaika.png
imgzaika/800/p6zaika.png
imgzaika/800/s3zaika.png
imgzaika/800/s4zaika.png
imgzaika/800/stitch.png
imgzaika/800/superzaika.png