body {
    background-color: #9B9B9B;
    background-image: url('bckg.png');
    background-attachment: fixed;
    margin: 0pt;
    max-width: 1600px;
    min-height: 100vh;
    height: 100vh;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14pt;
    text-align: justify;
    color: #333333;
    line-height: 14pt;
    margin: 4pt;
}

ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;
}

.content {
    margin: 0px 0px 0px 146px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32pt;
    text-align: center;
    border: thin solid #7c7c7c;
    border-radius: 24px 24px 0px 0px;
    margin: 0px 0px 0px 0px;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24pt;
    text-align: center;
    border: thin solid #7c7c7c;
    border-radius: 6px;
    margin: 0pt;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    text-align: left;
    border: thin solid #7c7c7c;
    border-radius: 6px;
    margin: 12pt 0pt 6pt 0pt;
    text-indent: 24pt;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    text-align: left;
    width: 50%;
    border: thin solid #7c7c7c;
    border-radius: 6px;
    margin: 6pt 0pt 6pt 0pt;
    text-indent: 12pt;
}

a {
    color: #0000cc;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #000088;
}

a:hover {
    color: #0044ff;
    text-decoration: underline;
}

.dark {
    color: #333333;
}

.light {
    color: #cccccc;
}

.darkbg {
    background-color: #333333;
    background-image: url('bckgd.png');
    color: #cccccc;
}

.lightbg {
    background-color: #cccccc;
    background-image: url('bckgl.png');
    color: #333333;
}

.chess {
    background-image: url('c16.png');
}

.chessd {
    background-image: url('cd16.png');
}

.chessdd {
    background-image: url('cdd16.png');
}

.justborder {
    border: thin solid #7c7c7c;
    border-radius: 6px;
    margin: 2pt 2pt 2pt 2pt;
}

.cols2 {
    column-count: 2;
    column-gap: 20px;
    column-rule: 2px dotted #7c7c7c;
}

.cols512 {
    column-width: 512px;
    column-gap: 10px;
    column-rule: 2px dotted #7c7c7c;
}

.floatleft {
    float: left;
    margin: 2px 12pt 2px 2px;
}

.floatright {
    float: right;
    margin: 2px 2px 2px 12pt;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.small {
    font-size: 10pt;
}

.pre {
    font-family: 'Courier New', Courier, monospace;
}

.red {
    border: thin solid rgba(255, 0, 0, 0.5);
    margin: 0px 2pt;
    padding: 0px 4pt;
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 6px;
}

.git {
    border: thin solid rgba(0, 0, 255, 0.2);
    margin: 0px 0pt;
    padding: 0px 6pt;
    background-color: rgba(0, 0, 255, 0.1);
    border-radius: 6px;
}
