.leftarea {
    float: left;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 128px;
    min-height: 100vh;
    height: 100vh;
    margin: 0pt 0pt auto 0pt;
}

.leftbar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 128px;
    min-height: 100vh;
    height: 100vh;
    margin: auto;
}

.ptoc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: left;
    line-height: 14pt;
    margin: 4pt;
}

.divtoc {
    background: linear-gradient(135deg, rgba(64, 64, 64, 0.75), rgba(255, 255, 255, 0.25));
    margin: 0pt;
    border: 4px double #000000;
    border-radius: 8px 32px 4px 16px;
}

.toc {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 4pt;
    font-size: 14pt;
    font-weight: normal;
    color: white;
    line-height: 24px;
    text-indent: 0pt;
}

.toctoc {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 12pt;
    font-weight: normal;
    color: #333333;
    text-indent: 6pt;
    background: linear-gradient(135deg, rgba(160, 160, 160, 0.75), rgba(255, 255, 255, 0.5));
    border: solid 1px #00000070;
    border-radius: 6px 6px 12px 6px;
    margin: 2pt 0pt 6pt 6pt;
}

.toctoc:hover {
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(225deg, rgba(100, 100, 100, 0.75), rgba(255, 255, 255, 0.25));
    border: solid 2px #ffffff70;
}

.toca {
    color: #333333;
    text-decoration: none;
}

.toca:hover {
    text-decoration: underline white;
}