.leftarea {
    float: left;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 128px;
    min-height: 100vh;
    height: 100vh;
    margin: 0pt 0pt auto 0pt;
}

.leftbar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 128px;
    min-height: 100vh;
    height: 100vh;
    margin: auto;
}

.ptoc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: left;
    line-height: 14pt;
    margin: 4pt;
}

.divtoc {
    background-color: #808080;
    margin: 0pt;
    border: thick double #303030;
    border-radius: 6px 36px 2px 10px;
}

.toc {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 4pt;
    font-size: 14pt;
    font-weight: normal;
    color: white;
    line-height: 24px;
    text-indent: 0pt;
}

.toctoc {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 12pt;
    font-weight: normal;
    color: #333333;
    text-indent: 6pt;
    background-color: #b6b6b6;
    border: solid 1px;
    border-radius: 6px 6px 12px 6px;
    margin: 2pt 0pt 6pt 6pt;
}

.toctoc:hover {
    font-weight: bold;
    color: #ffffff;
    background-color: #707070;
    border: solid 2px #eeeeee;
}

.toca {
    color: #333333;
    text-decoration: none;
}

.toca:hover {
    color: #000000;
    background-color: #707070;
    text-decoration: underline;
}